h1 {
  margin: 0 0 1rem 1rem;
  font-weight: 600;
  font-size: 30px;
  color: #d2a046;
  letter-spacing: 1px;
}

.container-fluid {
  padding: 20px;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin: 1rem 0;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th:last-child,
.table td:last-child {
  text-align: center;
}

.table-responsive {
  overflow-x: auto;
}

.bi-list-ul,
.bi-database-add {
  font-size: 25px;
}

.bi-pencil-square {
  color: rgb(10, 133, 10);
  font-size: 20px;
}
.bi-trash3-fill {
  color: red;
  font-size: 20px;
  margin-left: 18px;
}

.action {
  cursor: pointer;
}

/* mat-form-field {
  width: 100%;
  padding: 15px;
}

mat-select {
  width: 100%;
} */

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem auto;
  padding: 20px;
}

/* input,
select {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-group-text {
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} */
